<nav class="nav navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  <h1><a routerLink="" class="navbar-brand title">E-Comm</a> </h1>
  <div *ngIf="menutype == 'user' || menutype == 'default' " class="nav-search">
    <input type="text" (keyup)="searchProducts($event)" (blur)="disablelist()" placeholder="Search Products" #searchfield>
    <button (click)="search(searchfield.value)">Search</button>
    <ul class="suggested-search" *ngIf="searchProduct">
      <li *ngFor="let item of searchProduct">
        <a (mousedown)="selectItem(item.id)">{{item.name}}</a>
      </li>
    </ul>
  </div>
 <div [ngSwitch]="menutype">
  <ul *ngSwitchCase="'default'" >
    <li><a routerLink="seller-auth">Seller</a></li>
    <li><a routerLink="home">Home</a></li>
    <li><a routerLink="user-auth">Login</a></li>
    <li><a href="#">Cart({{cartItem}})</a></li>
  </ul>
  <ul *ngSwitchCase="'user'" >
    <li><a routerLink="seller-auth">Seller</a></li>
    <li><a routerLink="home">Home</a></li>
    <li><a>{{userName}}</a></li>
    <li><a routerLink="/my-orders">My Orders</a></li>
    <li><a (click)="logoutuser()">Logout</a></li>
    <li><a [routerLink]="cartItem>0?'cart-page':null">Cart({{cartItem}})</a></li>
  </ul>
  <ul *ngSwitchCase="'seller'" >
    <li><a routerLink="seller-add-product">Add Product</a></li>
    <li><a routerLink="seller-home">List</a></li>
    <li><a (click)="logoutseller()">Logout</a></li>
    <li><a href="#">{{sellerName | titlecase}}</a></li>
    </ul>
    </div>
</div>
</nav>