form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div input{
    width:360px;
}
h1{
    margin-top: 20px;
    font-size: 36px;
    color: blue;
    font-weight: 800;
}
p{
    text-align: center;
    color : green;
}