<div class="my-orders">
    <h1>My Orders</h1>
    <div class="row order-header">
        <div class="col-sm-2">
            <span>Order</span>
        </div>
        <div class="col-sm-2">
            <span>Order Id</span>
        </div>
        <div class="col-sm-2">
            <span>Price</span>
        </div>
        <div class="col-sm-2">
            <span>Status</span>
        </div>
        <div class="col-sm-2">
            <span>Action</span>
        </div>
    </div>
    <div class="row order-data" *ngFor="let order of orders">
        <div class="col-sm-2">
            <img src="https://cdn-icons-png.flaticon.com/512/263/263142.png" height="60px" width="60px" alt="">
        </div>
        <div class="col-sm-2">
            <span>#{{order.id}}</span>
        </div>
        <div class="col-sm-2">
            <span>{{order.totalPrice}}</span>
        </div>
        <div class="col-sm-2">
            <span>In Process</span>
        </div>
        <div class="col-sm-2">
            <span><button class="btn btn-primary" (click)="cancelOrder(order.id)">Cancel Order</button> </span>
        </div>
    </div>
</div>