<div class="product-details">
    <div class="row">
        <div class="col-sm-4" *ngFor="let p of product">
            <img [src]="p.image" alt="">
        </div>
        <div class="col-sm-8">
            <div class="details">
                <h2>{{p.name}}</h2>
                <p>{{p.price}}</p>
                <p>{{p.color}}</p>
                <p>{{p.description}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="https://m.media-amazon.com/images/I/61NzGy+D0gL._AC_UL480_FMwebp_QL65_.jpg" alt="">
        </div>
        <div class="col-sm-8">
            <div class="details">
                <h2>name</h2>
                <p>price:499</p>
                <p>color:white</p>
                <p>description:brandedtop</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="https://m.media-amazon.com/images/I/61NzGy+D0gL._AC_UL480_FMwebp_QL65_.jpg" alt="">
        </div>
        <div class="col-sm-8">
            <div class="details">
                <h2>name</h2>
                <p>price:499</p>
                <p>color:white</p>
                <p>description:brandedtop</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="https://m.media-amazon.com/images/I/61NzGy+D0gL._AC_UL480_FMwebp_QL65_.jpg" alt="">
        </div>
        <div class="col-sm-8">
            <div class="details">
                <h2>name</h2>
                <p>price:499</p>
                <p>color:white</p>
                <p>description:brandedtop</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="https://m.media-amazon.com/images/I/61NzGy+D0gL._AC_UL480_FMwebp_QL65_.jpg" alt="">
        </div>
        <div class="col-sm-8">
            <div class="details">
                <h2>name</h2>
                <p>price:499</p>
                <p>color:white</p>
                <p>description:brandedtop</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="https://m.media-amazon.com/images/I/61NzGy+D0gL._AC_UL480_FMwebp_QL65_.jpg" alt="">
        </div>
        <div class="col-sm-8">
            <div class="details">
                <h2>name</h2>
                <p>price:499</p>
                <p>color:white</p>
                <p>description:brandedtop</p>
            </div>
        </div>
    </div>
</div>